* {
    margin: 1%;
    padding: 1%;
    font-family: monospace;
    color: #fdf6e3;
}

a {
    margin: auto;
    padding: 0px;
}

body {
    max-width: 960px;
    margin: 1% auto;
    padding: 1%;
    border-width: 1%;
    border-style: solid;
    border-image: linear-gradient(180deg, #002b36, #eee8d5) 10;
    background-color: #002b36;
    background-image: url('img/stambul_073642.gif');
	background-size: auto;
	background-attachment: fixed;
    line-height: 1.6;
    font-size: 1.2em;
	text-align: center;
}

h1, h2, h3 {
    border: 1px solid #586e7525;
    background-color: #586e7525;
    line-height: 1.3;
}

ul {
    list-style-type: none;
}

ul, li {
    margin: 0px;
    padding: 0px;
    display: block;
    list-style: none;
    text-align: left;
}

p {
    border: 1px solid #586e7525;
    background-color: #002b3650;
    text-align: justify;
}

hr {
    margin: 1% 5%;
    border: 1px solid #043642;
    padding: 1px;
    background-color: #eee8d5;
    clear: both;
}

#controls {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
#controls > a {
    border: 2px solid #eee8d5;
    font-size: 1.5em;
    text-decoration: none;
}

#output {
    border: 2px solid #073642;
    background-color: #fdf6e3;
}
#output > * {
    color: #002b36;
}
#output > p {
    font-size: 1.2em;
}
#output > h3 > a {
    padding: 1px;
    background-color: #073642;
    line-height: 0.5;
}

.wrap-silent {
    margin: 3% 0;
    padding: 0;
}

.mp-header {
    clear: both;
    margin: 1% 1%;
    border: 1px solid #002b36;
    background-color: #002b3675;
    /* background-color: #586e7525; */
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.mp-sub {
    float: left;
    margin: 0 1%;
    border: 3px solid #002b36;
    border-bottom: 1px solid #002b36;
    /* border-image: linear-gradient(0deg, #002b36, #eee8d5) 10; */
    border-image: linear-gradient(180deg, #002b36, #eee8d5) 10;
    background-color: #002b3675;
    background: linear-gradient(180deg, #002b3615, #fdf6e325);
    font-weight: bold;
    text-align: left;
    cursor: pointer;
}

.mp-sub > p {
    display: inline;
    margin: 1%;
    background-color: #002b3675;
}

.mp-item {
    clear: both;
    display: block;
    margin: 1%;
    border: 1px solid #eee8d5;
    background-color: #002b3650;
    background: linear-gradient(90deg, #002b3615, #fdf6e325);
    text-align: left;
}

.mp-item > p {
    background-color: #00000015;
}

.news-list {
    margin: 1% 2%;
    padding: 1% 2%;
    list-style: none;
    background-color: #00000015;
}

.news-list > li {
    margin: 0px 2%;
    padding: 0px 2%;
}

.news-list > li:before {
    content: " - ";
}

.card {
    display: flex;
    flex-flow: column;
    border: 2px solid #073642;
    background-color: #002b36;
}
.card > h2 {
    display: flex;
    justify-content: space-around;
    background-color: #073642;
}

.card > h4 {
    background-color: #073642;
    font-size: 1.2em;
}
.card > p {
    font-size: 1.2em;
}

.strike {
    margin: 0px;
    padding: 0px;
    text-decoration: line-through;
}

.bold {
    font-weight: bold;
}